<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Me" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Who am I?</strong></h1>
        <p p class="text-secondary">I'm Tanay Patel, a student at Del Norte. I was born in Sacramento, but I live and have grown up in San Diego.</p>
        <h1 class="text-primary"><strong>Hobbies</strong></h1>
        <p class="text-secondary"> I like to play basketball and videogames. My favorite videogame is Ghost of Tsushima</p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %